@import "../../Utils/Variables.scss";

.AllCharacters {
    width: 70%;
    height: 80vh;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    top: 15%;
    margin-left: 20%;

    .allcharacters--grid {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 20px;

        align-items: center;
        justify-content: center;
        align-self: center;
    }
}