@import "../../Utils/Variables.scss";

.AllCharacters {
    background-color: rgba(240, 248, 255, 0.158);
    width: 70%;
    height: 80vh;
    position: relative;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    top: 10%;
    border-radius: 30px;
}