@import "../Utils/Variables.scss";

.home--page {
    width: $default-width;
    height: $default-height;
    background-image: url("./3224665.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .welcome-msg {
        font-family: $font-webiste;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;



        margin: 0 auto;

        position: relative;
        top: 30%;

        border-radius: 50px;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 30px;
            

            span {
                background-color: #fff;
                padding: 10px;
                border-radius: 10px;
                color: #7F47DE;
            }
        }

        h2 {
            margin-bottom: 20px;
        }

        .link {
            text-decoration: none;
            text-transform: uppercase;
            background-color: #fff;
            padding: 20px;
            width: 150px;
            border-radius: 15px;
            margin-left: 37%;
            margin-top: 10%;
        }
    }

}