@import "../Utils/Variables.scss";

.home--page {
    width: $default-width;
    height: $default-height;
    background-image: url("./gantz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .welcome-msg {
        font-family: $font-webiste;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

        .link {
            text-decoration: none;
            text-transform: uppercase;
            background-color: #ffffff;
            color: #000000;
            padding: 20px;
            width: 180px;
            border-radius: 15px;
            margin-top: 400px;
            font-weight: bolder;

            &:hover {
                transition: all .6s;
                opacity: 0.9;

                background-color: #000000;
                color: #ffffff;
            }
        }
    }

}